/* * {
    font-family: "Microsoft Yahei";
} */

/* 个人资料头像缩略图 */

.profile-thumbnail {
    position: absolute;
    max-width: 256px;
    max-height: 256px;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

/* 右上角超小的缩略图 */

.tiny-image {
    width: 20px;
    height: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.blog_box {
    margin: 16px 0 0 0;
    border-top: 1px solid #e0e0e0;
}

ul.blog_box li.blog {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.blog_box li.blog:hover {
    background-color: #f0f0f0;
}

div.blog-date {
    float: right;
}

div.blog-auther {
    font-weight: bold;
}

div.blog-thumbnail {
    position: absolute;
}

div.blog-content {
    margin-left: 48px;
    min-height: 48px;
}

/* 文章作者头像 */
.auther-thumbnail {
    position: absolute;
    max-width: 40px;
    max-height: 40px;
}

div.pagination_box {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* markdown预览框 */
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
/* markdown预览和博客文章的h1,h2,h3样式 */
div.flask-pagedown-preview h1,.blog-body h1 {
    font-size: 200%;
}
div.flask-pagedown-preview h2,.blog-body h2 {
    font-size: 160%;
}
div.flask-pagedown-preview h3,.blog-body h3 {
    font-size: 125%;
}
/*
.blog-body h1 {
    font-size: 140%;
}
.blog-body h2 {
    font-size: 130%;
}
.blog-body h3 {
    font-size: 120%;
}
*/
div.blog-footer {
    text-align: right;
}

/* 关注者 */
table.followers tr, table.users tr{
    border-bottom: 1px solid #e0e0e0;
}
.user_img, .follow_img{
    max-width: 30px;
    max-height: 30px;
}

div.blog-tabs {
    margin-top: 16px;
}
div.post-tabs ul.blog_box {
    margin: 0px;
    border-top: none;
}

/* 评论 */
ul.comment_box {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comment_box li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comment_box li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comment_box li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

div.base-footer{
    margin-top: 20px;
    text-align: center;
}

#to-top {
    position: fixed;
    bottom: 4em;
    right: 5%;
    height: 36px;
    width: 36px;
    border-radius: 50%; /*圆形*/
    border: 2px solid #fff;
    background-color: #34495e;
    top: auto;
    display:none;
    cursor: pointer;
    color: #fff;
    opacity: .4;
    z-index:9999; /*置顶?*/
}
#to-top:hover{
    opacity: .9; /*鼠标悬浮颜色变深*/
}
#to-top i {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    display: block;
}