<ul class="blog_box col-sm-8">
    {% for blog in blogs %}
        <li class="blog">
            <div class="blog-thumbnail">
                {# 文章作者头像缩略图, 带链接 #}
                <a href="{{ url_for('.user', username=blog.author.username) }}">
                    <img class="img-rounded auther-thumbnail" src="{{ blog.author.image }}">
                </a>
            </div>
            
            <div class="blog-content">
                <div class="blog-date">
                    {{ moment(blog.timestamp).fromNow() }}
                </div>
                <div class="blog-author">
                    <a href="{{ url_for('.user', username=blog.author.username) }}">
                        {{ blog.author.username }}
                    </a>
                </div>
                <h2><a href="{{ url_for('.blog', id=blog.id) }}">{{ blog.title }}</a></h2>

                <div class="blog-body">
                    {% if summary %}
                        {% if blog.body_html %}
                        {# 使用safe过滤器,不转义HTML标签 #}
                            {{ blog.body_html |striptags | truncate(100) }}
                        {% else %}
                        {{ blog.body |truncate(100)}}
                        {% endif %}
                        <a href="{{ url_for('.blog',id=blog.id) }}">
                            继续阅读>>
                        </a>
                    {% else %}
                        {% if blog.body_html %}
                            {# 使用safe过滤器,不转义HTML标签 #}
                            {{ blog.body_html | safe}}
                        {% else %}
                            {{ blog.body }}
                        {% endif %}
                    {% endif %}
                </div>

                {% if not summary %}
                <div class="blog-tags clearfix">                    
                        {% for tag in blog.tags %}
                            <a href="{{ url_for('.tag', id=tag.id) }}">
                                <span class="label label-{{ tag.style }}">
                                    {{ tag.name }}
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="blog-footer">{# 文章的底部 #}
                    {% if current_user == blog.author %}
                        <a href="{{ url_for('.edit',id=blog.id) }}">
                            <span class="label label-primary"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</span>
                        </a>
                    {%elif current_user.is_admin() %}
                        <a href="{{ url_for('.edit',id=blog.id) }}">
                            <span class="label label-danger"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑&nbsp;[ADMIN]</span>
                        </a>
                    {% endif %}


                    <a href="{{ url_for('.blog', id=blog.id) }}#comments">
                        <span class="label label-primary"><i class="fa fa-commenting"></i>&nbsp;评论({{ blog.comments.count() }})</span>
                    </a>
                </div>


            </div>
     
        </li>

    {% endfor %}
</ul>