{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{# 只有一篇文章, 为什么要导入分页? #}
{% import "_macros.html" as macros %}

{% block title %}hikari app - Blog{% endblock %}

{% block page_content %}
{% if blogs[0].disabled %}
<h3>该文章由于很黄很暴力已被送回火星...</h3>
{% else %}
    {% include '_blogs.html' %}
    <div class="col-md-8">

    <h4 id="comments">评论</h4>
    {# 需要有评论权限 #}
    {% if current_user.can(Permission.COMMENT) %}
        <div class="comment-form">
            {{ wtf.quick_form(form) }}
        </div>
    {% endif %}
    </div>
    {% include '_comments.html' %}
    {% if pagination %}
        <div class="pagination col-md-8">
            {{ macros.pagination_widget(pagination, '.blog', fragment='#comments', id=blogs[0].id) }}
        </div>
    {% endif %}

{% endif %}
{% endblock %}
{# 底部使用宏,从CDN加载js文件 #} 
{% block scripts %} 
    {{ super() }} 
    {{ pagedown.include_pagedown() }} 
{% endblock %} 
