{% extends "base.html" %} {# 继承于base.html模板 #} 
{% import "bootstrap/wtf.html" as wtf %} 
{% import "_macros.html" as macros %}

{% block title %}hikari app{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello, 
        {% if current_user.is_authenticated %} 
            {{ current_user.username }} 
        {% else %} 
            Stranger 
        {% endif %}!
    </h1>
</div>

{# 用户有写文章权利,显示此表单 #}
<div>
    {% if current_user.can(Permission.WRITE) %}
        {{ wtf.quick_form(form)}} 
    {% endif %}
</div>


{# 选项卡,显示全部文章or关注的大神的文章#}
<div class="blog-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">全部</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">我关注的人</a></li>
        {% endif %}
    </ul>
    {# 显示博客文章的ul #}
    {% include '_blogs.html' %}
</div>




{# 分页 #}
{%  if pagination %}
    <div class="pagination_box">
        {{ macros.pagination_widget(pagination,'.index') }}
    </div>
{% endif %}

{% endblock %}

{# 底部使用宏,从CDN加载js文件 #}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}