{% extends "base.html" %} 
{% import "_macros.html" as macros %}

{% block title %}
    hikari app - {{ user.username }}
{% endblock%} 


{% block page_content %}
{% if user.disabled %}
    <h3>该用户已返回火星...</h3>
{% else %}
    {% include '_user_info.html'%}

    <h3>{{ user.username }}的文章</h3>
    {% include '_blogs.html'%}
    {%  if pagination %}
        <div class="pagination col-sm-8">
        {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
        </div>
    {% endif %}
{% endif %}
{% endblock %}




